<div class="container text-center">
<h1>About</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, molestias, 
ullam, assumenda ut est harum doloribus porro nisi ad numquam provident corporis 
accusantium fugit quam ab dolor voluptate neque deleniti.</p>
</div>