<!DOCTYPE html>
<html>
    <head>
    <body>
        <p>Du hast eine neue Nachricht vom Kontaktformular von
        <%= "#{ @name}, #{ @email}." %></p>
        <p><%= @body %></p>
    </body>
    </head>
</html>